<h1 id="last_20_messages">latest 20 messages in <%= current_room %></h1>
<pre class="messages-list">
  <% Message.latest(20, conditions: ["room = ?", current_room]).each do |m| %>
  <a href="<%= message_url(m) %>">+</a> [<span class="time"><%= m.at.xmlschema %></span>] <span class="author"><%= m.author %></span>: <span class="message"><%= m.message %></span>
  <% end %>
</pre>
