<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat Log Server / <%= @author || current_room %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/moment.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/messages.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1 id="irc_logs">irc logs</h1>
      <% logged_rooms.each do |room| %>
      <h2 id="<%= room %>"><%= link_to room_name(room), room_url(room) %></h2>
      <% end %>
      <form action="/search" method="get" accept-charset="utf-8">
        <p><input type="search" name="q" value="<%= @query if @query %>"></p>
        <p><input type="submit" value="search"></p>
      </form>
    </div>
    <%= yield %>
  </div>
</body>
</html>
