<article class="message">
  <h1 id="message-id">message no. <%= @m.id %></h1>
  <p>
    Posted by <%= link_to @m.author, author_url(@m.author) %> in <%= link_to @m.room, room_url(@m.room) %> at <%= @m.at %>
  </p>
  <div class="monospaced">
    <%= @m.message %>
  </div>
</article>
