<article class="message">
  <h1 id="message-id">message no. <%= @m.id %></h1>
  <p>
    Posted by <a href="<%= author_url(@m.author) %>"><%= @m.author %></a> at <%= @m.at %>
  </p>
  <div class="monospaced">
    <%= @m.message %>
  </div>
</article>
